/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Bree Serif";
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#testoAlternato {
  border: 2px solid #666666;
  width: 700px;
  padding: 20px;
  position: relative;
}
i {
  position: absolute;
  opacity: 0;
  margin-left: 7px;
  color: #71879c;
}
@keyframes scivola {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
i:nth-child(1) {
  animation: scivola 4s infinite;
}
i:nth-child(2) {
  animation: 4s scivola 1.4s infinite;
}
i:nth-child(3) {
  animation: 4s scivola 2.6s infinite;
}
